
.sideList {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

.sideItem {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.7rem;
    background: rgb(238, 236, 236);
    border-bottom: 0.5px solid gray;

}