/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr;
}
.nav1 {
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}
.nav1 li {
    flex-basis: 1;
}
li a {
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 5fr;
}
.nav2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.nav2 li {
    flex-basis: 1;
    height: 10vh;
}
.articles {
    display: grid;
    grid-template-columns: 1fr;
}
.articles article ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px 3px 20px;
    list-style: none;
    
}
.articles article ul h4 {
    float:left;
    width: 100%;
    clear: both;
    margin:2px;
}
.articles article ul li {
    flex-basis: repeat(4, 1fr);
    margin: 2px;
    min-width: 210px;
    min-height: 150px;
} */