
.container {
    /* margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    align-items: stretch;
    align-items: center;
    height: 8vh; */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /* background: lightgrey; */
    /* align-items: stretch; */
}

.menu {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
  font-size: 30px;
    
} 

.search {

  
 
}

.icons {
    /* background: lightcyan;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
  font-size: 30px;
    flex-grow: 8; */
} 

