
.container {
    display: flex;
    flex-direction: coloumn;
    list-style: none;
    justify-content: space-between;
    /* align-items: center; */
    height: 8vh;
}

.menu {

    flex-grow:1
}

.search {
    align-items: stretch;
    flex-grow: 20;
}

.icons {
 
    flex-grow: 1;
}

