.header {
    background: lightblue;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.item {
    text-align: center;
    padding: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.item:hover {
    background: lightseagreen;
}

.item:active, .item.active {
    background: white;
    color: lightblue;
}