* {
    padding: 0px;
    margin: 0px;
}
header {
    width: 90%;
    margin: auto;
    background: black;
}
.pre-nav {
    display: flex;
}
.logo-container,
.SNS {
    flex: 1;
}
.logo-container,
.logo-container a {
    font-size: 28px;
    color: white;
}
.logo-container img {
    width: 14vh;
}
.SNS {
    text-align: right;
    display: flex;
    
}
.SNS i {
    font-size: 22px;
    color: white;
    padding-right: 15px;
}
.SNS a {
    /* flex: 1; */
    margin: auto;
    /* margin-left: 0; */
}
nav {
    height: 5vh;
}
nav ul {
    display: flex;
    list-style: none;
    width: 60%;
    margin-left: 30px;
}
nav ul li {
    flex: 1;
    
}
.list {
    font-size: 25px;
    font-weight: 600;
    color: white;

   
}
.newMessage {
    color: white;
}
.article1 {
    display: flex;
    width: 90%;
    margin: auto;
    background: black;
    color: white;
    /* justify-content: space-between; */
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;

}
article section h4 {
    margin: 0px;
}
.most-view{
    background: darkred;
}

.c {
    flex: 2;
}
.new-photo {
    flex: 1;
}
.new-submit {
    background: darkgreen;
}
.new-sub {
    display: flex;
    flex-wrap:wrap;
}
.sub {
    flex-basis: 50%;
}
.sub img{
   width : 100%;
}
.article2 {
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 2vh;
}
.article2 div h3,
.article2 aside h3 {
    margin: 0px;
}
.contest {
    background: black;
}
.contest h3 {
    background: darkblue;
    color: white;
}
winner,
aside {
    flex-basis: 30%;
}
.winner p {
    color: white;
}
.winner img {
    width: 100%;
}
.winners {
    display: flex;
}
.blog {
    margin: 0px 0px 0px 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.blog ul {
   
    align-items: center;
}
.blog-lists {
    list-style: none;
   
}
.blog h3 {
    color: white;
    background: darkorchid;
   
}
.blog-list a {
    font-size: 12px;
    color: black;
    margin: auto;
    
}
.footer {
    width: 90%;
    margin: auto;
    display: flex;
    background: black;
 
    margin-top: 2vh;
  
}
.footer section {
    margin-top: 0px;
}
.about, .insta, form {
    display: flex;
    height: 30vh;
}
.about p,
.insta li,
form input,
form button,
.button button {
    margin: auto;
}

footer section {
    flex: 1;
    color: white;
    display: flex;
}
footer section p {
    font-size: 12px;
    padding: 5px;
   
   
} 
 footer section h3 {
    margin: 0px;
}
.foot-sec {
    display:flex;
    flex-direction: column;
}
.about-title {
    background: darkolivegreen;
}
.insta-title {
    background: darkcyan;
}
.insta {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}
.insta li {
    flex-basis: 25%;
}
.insta img { 
    width: 100%;
}
.insta-button {
    width: 150px;
    height: 50px;
    font-size: 13px;
    color: white;
    background: darkcyan;
    border: none;
    padding: 5px;
    margin: auto;
}
.contact-title {
    background: darkmagenta;
}

.copyright {
    text-align: center;
    height: 2vh;
}

@media only screen and (max-width: 640px) {
    header,
    article,
    .pre-nav,
    .footer,
    .winners{
        flex-direction: column;
    }

    .c {
        margin-bottom: 15px;
        background: white;
    }
    .article1 {
        background: white;
    }
    .new-photo {
        background: black;
    }
    .contest {
        background: black;
    }
    .winners {
        color: white;
    }
    .blog {
        margin-top: 10px;
    }

    .foot-sec {
        margin-bottom: 15px;
    }

}

