    
       * {
           margin: 0px;
           padding: 0px;
           
       }
        body {
        
            background-image: url("globe2.svg");
            background-repeat: no-repeat;
        }
        nav {
            width: 100%;
            height: 100vh;
        }
        .about, .travel, .plane {
            display: grid;
            justify-content: center;
        }
        .about,
        .travel,
        .game {
            /* transition: 1000ms ease-in-out; */
        }
        .about:hover,
        .travel:hover,
        .game:hover {
            transform: scale(1.2) rotateY(10deg) rotateX(10deg);
            transition: transform 1000ms ease-in-out;
            transform-origin: left;
        } 
        .about {
            /* background: lightblue; */
            margin: 30px 0px 0px 300px;
            grid-area: about;
        }
        .website1 {
            /* background: lightcoral; */
            grid-area: website1;
            padding-left: 30px;
        }
        .website2 {
            /* background: lightcoral; */
            grid-area: website2;
        }
        .website3 {
            /* background: lightskyblue; */
            grid-area: website3;
        }
        .travel {
            /* background: lightgreen; */
            margin: 0px 0px 0px 50px;
            grid-area: travel;
        }
        .game {
            /* background: lightseagreen; */
            grid-area: game;
            margin: 0px 100px 400px 0px;
        }
        .plane-container {
            grid-area: plane;
            /* perspective: 3000px; */
        }
       
        .plane {
            animation: wonderingPlane 10000ms infinite;
            
        }
        /* .plane:hover {
            transform: scale(1.5);  
        } */
        .sidePlane-container {
            display:none;
        }
        .about button {
            border-radius: 100%;
            width: 100px;
            height: 100px;
            padding: 30px;
            /* background: lightskyblue; */
            background: linear-gradient(-45deg, rgb(245, 247, 248), darkblue);
            outline: none;
        }
        .travel button {
            border-radius: 100%;
            width: 180px;
            height: 180px;
            padding: 30px;
            background: linear-gradient(-45deg, rgb(248, 246, 246), darksalmon);
            outline: none;
        }
        .game button {
            border-radius: 100%;
            width: 110px;
            height: 110px;
            padding: 30px;
            background: linear-gradient(-45deg, rgb(253, 255, 255), lightseagreen);
            outline: none;
        }

      
        @keyframes wonderingPlane { 
            
            20% {
                transform: rotate(-15deg) scale(0.4) rotateX(-15deg) rotateY(25deg);
                transform-origin: left;                
            }
            40% {
                transform: rotate(10deg) scale(0.2) rotateX(10deg) rotateY(-20deg);
                transform-origin: left;                
            }
            75% {
                transform: rotate(-30deg) scale(4) rotateX(-10deg) rotateY(10deg);
                transform-origin: top;  
            }
                 
        }
        @keyframes rise {
            100% {
                transform: scale(1.5);
            }
        }    
        @keyframes initialPlaneFlight {
            0% {
                transform: translate(0px, 0px);
        
            }
            100% {
                transform: translate(-1500px, -120px);
                
            }
        }
       @keyframes launchPlanet1 {
            0% {
               transform: translate(0px, 0px) scale(1);
            }
            5% {
                transform: translate(-50px, 50px);           
            }   
            100% {
               transform: translate(var(--targetX), var(--targetY)) scale(0.025);
           }
        }
        @keyframes launchPlanet2 {
            0% {
               transform: translate(0px, 0px) scale(1);
            }
            5% {
                transform: translate(-50px, 50px);
            }
           
            100% {
               transform: translate(var(--targetA), var(--targetB)) scale(0.025);
           }
        }
       @keyframes launchPlanet3 {
            0% {
               transform: translate(0px, 0px) scale(1);
            }
            5% {
            transform: translate(-50px, 50px);     
            }
            100% {
               transform: translate(var(--targetC), var(--targetD)) scale(0.025);
            }
        }
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 1.5fr;
            grid-gap: 20px;
            grid-template-areas:
                ". .  about ."
                ". . . travel"
                ". . plane ."
                ". . . . "
                ". . . game";
        }
        
        @media screen and (max-width: 1120px) {
            ul {
                grid-template-areas:
                    ". . about"
                    ". . plane"
                    ". . ."
                    ". . travel"
                    ". . game";
            }
        }
         @media screen and (max-width: 640px) {
            ul {
                grid-template-areas:
                    ". about"
                    " ."
                    ". plane"
                    ". ."
                    "travel ."
                    ". game";
            }
        }