* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    height: 15vh;  
}
.search, .logo-container, .list {
    display: flex;
    justify-content: space-around;
}
.search {  
    flex: 1;
    justify-content: space-around;
    display: flex;
}

.logo-container {
     flex: 1;
}

.logo {
    height: 12vh;
}

nav {
      flex: 1;
}

.lists {
    list-style: none;
    justify-content: space-around;
    display: flex;
}

.list {
    text-decoration: none;
    color: #333333;
}

main {
    width: 90%;
    margin: auto;
  
}
.section1 {
    padding: 150px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic1 {
    height: 50vh;
}

.pic2{
    height: 50vh;
}

.introduction {
    margin: 10px;
    align-items: center;
}

.intro-text h1{
    color: #333333;

}

.intro-text p {
     color: #333333;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.button1 {
    padding: 15px;
    border: 1px solid #851f1f;
    margin: 30px 30px 0px 20px;
    color: #851f1f;
    cursor: pointer;
}

.button2 {
    padding: 15px;
    border: 1px solid #851f1f;
    background: #851f1f;
    margin: 30px 30px 0px 20px;
    color: white;
    cursor: pointer;
}
.controller {
    width: 30%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 40%;
}

.section2 {
    display: flex;
    justify-content: space-around;
    margin: 150px 0px 0px 0px;
    align-items: center;
}

.pic3 {
    height: 40vh;
}

.pic4 {
    height: 40vh;
}
.moreIntro {
    margin: 10px;
    align-items: center;
}

.moreText h1{
    color: #333333;

}

.moreText p {
     color: #333333;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.button3 {
    padding: 15px;
    border: 1px solid #851f1f;
    margin: 30px 30px 0px 20px;
    color: #851f1f;
    cursor: pointer;
}

.button4 {
    padding: 15px;
    border: 1px solid #851f1f;
    background: #851f1f;
    margin: 30px 30px 0px 20px;
    color: white;
    cursor: pointer;
}
.controller2 {
    width: 30%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 40%;
}
}
footer {
    width: 70%;
    margin: auto;
    align-items: center;
   
}

