* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
header {
    display: flex;
    margin: auto;
    align-items: center;
    height: 15vh;  
    width: 90%;
}
.search, .logo-container, .lists {
    display: flex;
    justify-content: space-around;
}
.search {  
    flex: 1;
    justify-content: space-around;
    display: flex;
}

.logo-container {
     flex: 1;
}

.logo {
    height: 12vh;
}

nav {
      flex: 1;
}

.lists {
    list-style: none;
    justify-content: space-around;
    display: flex;
}

.list {
    color: #333333;
}

.section1 {
    padding: 150px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90%;
}

.pic,
.introduction {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex: 1;
}

.pic img {
    height: 20vh;
}

.introduction {
    margin: 10px;
    align-items: center;
    flex: 1;
}

.intro-text h1{
    color: #333333;
}

.intro-text p {
     color: #333333;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.button1 {
    padding: 15px;
    border: 1px solid #851f1f;
    margin: 30px 30px 0px 20px;
    color: #851f1f;
    cursor: pointer;
}

.button2 {
    padding: 15px;
    border: 1px solid #851f1f;
    background: #851f1f;
    margin: 30px 30px 0px 20px;
    color: white;
    cursor: pointer;
}
.controller {
    width: 30%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 40%;
}

.section2 {
    padding: 150px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.moreIntro {
    margin: 10px;
    align-items: center;
    text-align: center;
    flex: 1;
    justify-content: space-around;
}

.moreText h1{
    color: #333333;

}

.moreText p {
     color: #333333;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
}


footer {
    margin-top: 50px;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 20vh;
    width: 50%;
}

.footerlists {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;

}

.footerlist {
    flex: 1;
}
    
footer .copyright {
    margin : 100px 0px 40px 0px;

}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	/* z-index: -1; */
	opacity: 0.5;
    height: 100%;
    animation: dance 5s;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	/* z-index: -1; */
	height: 80%;
    opacity: 0.4;
    animation: dance 1s;
}
.small-circle {
    position: absolute;
    top: 60%;
    right: 60%;
    /* z-index: -1; */
    height: 50%;
    animation: dance 3s;
}

@keyframes dance {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@media screen and (max-width: 640px) {
    header,
    .section1,
    .section2 {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.controller {
		padding: 10px 0px 0px 0px;
	}
    .button1,
    .button2 {
		bottom: 5%;
		width: 50%;
	}
	.cover img {
		height: 80%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.4;
	}
}